#logo{
    max-width: 40%;
    margin-left: 10%;
    }

    .card{
        display: grid;
        align-items: center;
        top: 20%;
    }

    #botones{
        margin-left: 45%;
        margin-top: 5%;
    }
    body{
        background: rgb(2,0,36);
      background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
      }

    #tar{
        margin: 10%;
    }